body{
    background-color: #0f0f1b;
    color: #fafbf6;
    font-family: "Perfect DOS VGA 437", monospace;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 20px 40px;
    position: relative;
    border-bottom: 2px solid #c6b7be;
}

.menu h1 {
    margin: 0;
    font-size: 30px;
    width: 150px; /* largura fixa */
}

.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu-list li {
    cursor: pointer;
    transition: opacity 0.3s;
    font-size: 18px;
}

.menu-list li:hover {
    opacity: 0.7;
}

.profile-icon {
    width: 150px; /* mesma largura do título */
    display: flex;
    justify-content: flex-end;
}

.profile-icon img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

body > p {
    padding: 20px 20px; /* mais espaço em cima */
    margin: 0;
    font-size: 18px; /* aumenta o tamanho da fonte */
    text-align: center; /* centraliza o texto */
    max-width: 800px; /* limita a largura para melhor leitura */
    margin: 40px auto; /* centraliza o bloco */
    line-height: 1.6; /* melhora o espaçamento entre linhas */
}