/* ===== Reset e estilo base ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f1b;
    color: #fafbf6;
    font-family: "Perfect DOS VGA 437", monospace;
}

/* ===== Menu ===== */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between; /* mantém título e profile nas extremidades */
    padding: 20px 40px;
    border-bottom: 2px solid #c6b7be;
    position: relative; /* necessário para posicionamento absoluto da lista */
}

.menu h1 {
    font-size: 30px;
}
.menu h1 a {
    text-decoration: none; /* remove sublinhado */
    color: #fafbf6; /* mantém a cor do texto */
    transition: opacity 0.3s; /* efeito ao passar o mouse */
}

.menu h1 a:hover {
    opacity: 0.7;
}

.menu-list {
    display: flex;
    list-style: none;
    gap: 30px;

    position: absolute; /* permite centralizar independente do título/profile */
    left: 50%;
    transform: translateX(-50%);    
}

.menu-list li a {
    color: #fafbf6;
    text-decoration: none;
    font-size: 18px;
    transition: opacity 0.3s;
    cursor: pointer;
}

.menu-list li a:hover {
    opacity: 0.7;
}

/* ===== Profile ===== */
.profile-icon {
    display: flex;
    justify-content: flex-end;
}

.profile-icon img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-icon a:hover{
    opacity: 0.7;
}

/* ===== Parágrafo inicial ===== */
body > p {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
}

/* ===== Responsividade ===== */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu-list {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px 0;
    }

    .profile-icon {
        margin-top: 10px;
    }

    .menu h1 {
        text-align: center;
        margin-bottom: 10px;
    }
}
